<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>MRLD Tecnology</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/perfil.jpg" alt="foto do Amiraldo">
            <h1>Amiraldo Rodrigues</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/amiraldo-rodrigues/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/mrld-rodrigues">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/imortus.mrld/">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check" aria-hidden="true"></i>
                        Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark" aria-hidden="true"></i>
                        Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection" aria-hidden="true"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-envelope" aria-hidden="true"></i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Amiraldo Rodrigues</h2>
                <span id="subtitle" class="text-white text-shadow">Desenvolvedor, Jiujiteiro e Gamer</span>
            </div>

            <div class="col-md-7 5 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>

        <section id="sobre" class="container mt-5">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p> Olá, meu nome é Amiraldo Rodrigues e fui agente de endemias por 14 anos no Centro de Controle de
                        Zoonoses de Natal-RN. Em busca de melhores oportunidades para mim e para minha família, decidi
                        emigrar para Portugal em 2016, onde vivo até hoje.

                        Durante minha carreira como agente de endemias, desenvolvi habilidades na área de entomologia e
                        gestão de banco de dados entomológicos. No entanto, meu interesse pela tecnologia sempre esteve
                        presente e, nos últimos anos, decidi me dedicar ao estudo da programação por conta própria.

                        Em 2022, ingressei em um curso profissional de programador/a de informática de nível 4,
                        homologado pelo IEFP, para aprimorar minhas habilidades na área. Acredito que a tecnologia é
                        transformadora e que precisamos usá-la para o benefício da humanidade.

                        Atualmente, desenvolvo ferramentas que auxiliam as pessoas em seu dia a dia, buscando sempre
                        soluções inovadoras e eficientes. Meu objetivo é contribuir para a construção de um mundo
                        melhor, onde a tecnologia esteja a serviço da humanidade.

                        Me sinto grato por poder compartilhar minha trajetória com vocês e espero poder contribuir ainda
                        mais para o avanço da tecnologia no futuro.</p>
                </div>
            </div>

            <div class="row mt-4 mb-2">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/perfil.jpg" alt="foto do Amiraldo">
                </div>
                <div class="col-md-8">
                    <h3>Desenvolvedor</h3>
                    <p>Atualmente, procuro
                        uma oportunidade de estágio através da qual possa concluir a minha formação, bem como
                        desenvolver e aprofundar os meus conhecimentos obtidos durante a
                        mesma.</p>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Nascido em: <span class="fw-lighter"> 15 de Setembro de 1982</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter"> 40 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Distrito: <span class="fw-lighter"> Faro</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter"> Lagos</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter"> Jiu-Jitsu e Video Games</span>
                                </li>
                                <li class="list-group-item">
                                    Rede Social: <a href="https://www.instagram.com/imortus.mrld/" target="_blank"
                                        class="fw-lighter tex-decoration-none link-dark"> Instagram</a></span>
                                </li>
                                <li class="list-group-item">
                                    Trabalho: <span class="fw-lighter"> Procurando...</span>
                                </li>
                                <li class="list-group-item">
                                    Experiência: <span class="fw-lighter"> Por volta de 3 anos de estudos</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p>Além de ter conhecimentos em gerenciamento de bancos de dados entomológicos, gosto também de
                        artes marciais como jiujitsu, judô e capoeira, além de jogar video games. Estou sempre preparado
                        para enfrentar desafios tecnológicos, utilizando uma combinação de habilidades técnicas e
                        pessoais para encontrar soluções inovadoras.</p>
                </div>
            </div>
        </section>

        <section id="habilidades" class="mt-5 section-bg">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Em todo o tempo como autodidata e estudande de tecnologia eu adquiri algumas habilidades técnicas e
                    não técnicas,
                    a maioria delas estão aqui, de acordo com a percentagem de conhecimento que eu acredito ter em cada
                    uma delas.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="74"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 74%">74%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="66"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 66%">66%</div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="58"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 58%">58%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="97"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 97%">97%</div>
                        </div>
                        <p class="mt-3 mb-0">JAVA</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="76"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 76%">76%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Kivy/KivyMD</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="87"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 87%">87</div>
                        </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="77"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 77%">77%</div>
                        </div>
                        <p class="mt-3 mb-0">MYSQL</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Jiu-Jitsu e Video Game</p>
                        <div class="progress-stacked">
                            <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="58"
                                aria-valuemin="0" aria-valuemax="100" style="width: 58%">
                                <div class="progress-bar">58%</div>
                            </div>
                            <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="42"
                                aria-valuemin="0" aria-valuemax="100" style="width: 42%">
                                <div class="progress-bar bg-success">42%</div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto mt-5">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="94"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 94%">94%</div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 95%">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Orientação a detalhes</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="88"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 88%">88%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="91"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 91%">91%</div>
                        </div>
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="83"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 83%">83%</div>
                        </div>
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="98"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 98%">98%</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="curriculo" class="mt-5 cv">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item">
                            <h4>Programador Informático (EFA NS Pro.)</h4>
                            <h5>2021 - 2023</h5>
                            <p><em>IEFP - Instituto do Emprego e Formação Profissional, I.P.</em></p>
                            <p>Princípios metodológicos de programação, administração de bases de
                                dados para programadores, análise de
                                sistemas, algoritmos, estrutura de dados, linguagem SQL, programação
                                em C/C++, C#, ASP.NET Core, Python,
                                sistemas distribuídos JAVA , Android, sistemas de rede local, serviços
                                adicionais de rede, sistemas operativos,
                                conexões de rede.</p>
                        </div>
                        <div class="cv-item">
                            <h4>Ensino médio (12º Equivalente)</h4>
                            <h5>1995 - 1999</h5>
                            <p><em>Colegio Encanto Unidade I</em></p>
                            <p>O ensino médio equivale ao 12º ano em Portugal.</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>

                        <div class="cv-item">
                            <h4>Assistente de loja</h4>
                            <h5>2018 - 2023</h5>
                            <p><em>Lidl</em></p>
                            <p>Os assistentes de loja trabalham em lojas onde desempenham funções
                                de assistência.
                                Ajudam os comerciantes no seu trabalho quotidiano, tal como com a
                                encomenda e a
                                reposição de mercadorias e existências, a prestação de
                                aconselhamento geral aos
                                clientes, a venda de produtos e a manutenção da loja e caixa.</p>
                        </div>
                        <div class="cv-item">
                            <h4>Agente de Endemias</h4>
                            <h5>2003 - 2016</h5>
                            <p><em>Prefeitura Municipal de Natal</em></p>
                            <p>Vistoria de residências, depósitos, terrenos baldios e estabelecimentos
                                comerciais para
                                buscar focos endémicos.
                                Inspeção cuidadosa de caixas d'água, calhas e telhados.
                                Aplicação de larvicidas e inseticidas.
                                Coletava amostras dos vetores em fase larvaria e adultos.
                                Tratava e analizava os dados coletados e alimentava o banco de dados.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <sectio id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5">
                <h2 class="pb-4">Portfólio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/Aedes_aegypti_entomosys.png" class="card-img-top" alt="banner entomosys">
                                        <div class="card-body">
                                            <h5 class="card-title">Sistema de registos e gestão entomológicos</h5>
                                            <p class="card-text">Aplicação para Android desenvolvida em Python, Kivy e MariaDB 
                                                que auxilia o entomólogo no registo, gestão dos dados
                                                e índices das armadilhas de oviposição.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="..." target="_blank" class="btn btn-outline-primary">
                                                    <i class="bi bi-link-45deg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="..." class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a longer card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="..." class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a longer card with supporting text below as a
                                                natural lead-in to additional content.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="carousel-item" data-bs-interval="2000">

                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </sectio>
    </main>


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>